/* Estilo general */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    background-image: url('7nvD.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.overlay {
    position: relative;
    z-index: 2;
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.8); /* Fondo semitransparente */
    position: relative;
    z-index: 1000;
}

nav .logo {
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
}

nav ul {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

nav a:hover {
    border-bottom: 2px solid hsl(0, 0%, 100%);
    transition: 1s;
}

/* French Fries Image */
.french-fries {
    position: absolute;
    width: 300px;
    height: auto;
    margin-top: 200px;
    left: 0;
    pointer-events: none;
    z-index: 500;
}

.french-fries img {
    margin-left: 100px;
    width: 340px;
}

/* Content */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    margin-top: 100px;
    color: #fff;
}

.about {
    width: 300px;
    height: auto;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0;
    margin-right: 50px;
    text-align: left;
}

.about h2 {
    font-size: 2.4rem;
    margin-bottom: 20px;
}
